<form role="form" id="currencyForm" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-12">
        <div class="row">
            <input type="hidden" class="form-control" placeholder="" id="isUpdating" name="isUpdating"/>
            
            <div class="form-group col-12">
                <label>C&oacute;digo</label>
                <input type="text" class="form-control" placeholder="" id="MON_CODIGO" name="MON_CODIGO"/>
            </div>

            <div class="form-group col-12">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="" id="MON_NOMBRE" name="MON_NOMBRE">
            </div>
            
            <div class="form-group col-12">
                <label>Siglas</label>
                <input type="text" class="form-control" placeholder="" id="MON_SIGLAS" name="MON_SIGLAS"/>
            </div>
            
            <div class="form-group col-12">
                <label>S&iacute;mbolo</label>
                <input type="text" class="form-control" placeholder="" id="MON_SIMBOLO" name="MON_SIMBOLO"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:20px;">
                <button class="btn btn-primary btn-md float-right" id="btnSaveCurrency" type="submit">
                    <i class="fa fa-floppy-o"></i>&nbsp;
                    <span id="btnSaveCurrencyText">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</form>