@using CoreContable.Services
@inject ISecurityRepository SecurityRepository

@{
    ViewData["Title"] = "Parámetros de Períodos";
}

@section Styles{
    <link rel="stylesheet" href="~/plugins/jquery.dataTables/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/css/grids.defaults.css" asp-append-version="true"/>
}

@section BreadCrumb{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<div class="card">
    <div class="card-body">
        <form role="form" id="periodParamsForm" name="periodParamsForm">
            <div class="row">
                <input type="hidden" value="@SecurityRepository.GetSessionCiaCode()" id="CodCia" name="CodCia">

                <div class="form-group col-md-4">
                    <label for="Period">A&ntilde;o del inicio del per&iacute;odo</label>
                    <div class="input-group date" id="Period_container" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#Period_container" id="Period" name="Period" />
                        <div class="input-group-append" data-target="#Period_container" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="StartMonth">Mes en que inicia el per&iacute;odo</label>
                    <div class="input-group date" id="StartMonth_container" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#StartMonth_container" id="StartMonth" name="StartMonth" />
                        <div class="input-group-append" data-target="#StartMonth_container" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="FinishMonth">Mes en que finaliza el per&iacute;odo</label>
                    <div class="input-group date" id="FinishMonth_container" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#FinishMonth_container" id="FinishMonth" name="FinishMonth" />
                        <div class="input-group-append" data-target="#FinishMonth_container" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Status" class="form-label">Estado actual del per&iacute;odo</label>

                    <select name="Status" id="Status" class="form-control">
                        <option value="">Seleccione una opci&oacute;n</option>
                        <option value="A">Activo</option>
                        <option value="C">Concluido</option>
                        @* <option value="S">Suspendido</option> *@
                    </select>
                </div>

                @* TODO: NO EXISTE EN LA DB *@
                @* <div class="form-group col-md-6"> *@
                @*     <label>Provisi&oacute;n de seguro</label> *@
                @*     <input type="text" class="form-control" placeholder="" id="PROVSEGURO" name="PROVSEGURO"/> *@
                @* </div> *@
            </div>
            
            <div class="row">
                <div class="col-12" style="margin-top:20px;">
                    <button class="btn btn-primary btn-md float-right" id="btnSavePeriodParam" type="submit">
                        <i class="fa fa-floppy-o"></i>&nbsp;
                        <span id="btnSavePeriodParamText">Guardar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    /* Cambiar el color de fondo de las opciones al pasar el mouse */
   option:checked {
        background-color: #4B339C !important;
        color: white;
    }

    option:hover {
        background-color: #4B339C !important;
        color: white;
    }

   
</style>

<div class="card">
    <div class="card-body">
        <div class="row align-items-center mb-3">
            <div class="col-md-6">
                <h3 class="mb-0">Estado por meses</h3>
            </div>
            <div class="col-md-6 text-md-right">
                <label for="YearFilter" class="mr-2 font-weight-bold">Filtrar por año:</label>
                <select id="YearFilter" class="form-control d-inline-block " style="width: 200px;">
                    <option value="">Seleccione un año</option>
                    <script>
                        const currentYear = new Date().getFullYear();
                        for (let year = currentYear; year >= currentYear - 50; year--) {
                            document.write(`<option value="${year}">${year}</option>`);
                        }
                    </script>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table id="dmgCieCierreDt" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>A&ntilde;o</th>
                        <th>Mes</th>
                        <th>Estado actual</th>
                        <th style="width: 20%;">Cambiar estado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<textarea id="cieCierreGridSelect" style="display:none;">
    <select name="{codCia}" id="{codCia}" class="form-control" data-row="{data}">
        <option value="" {selectednull}>Cambiar estado</option>
        <option value="A" {selecteda}>Activo</option>
        <option value="C" {selectedc}>Concluido</option>
        @* <option value="S" {selecteds}>Suspendido</option> *@
    </select>
</textarea>

@section Scripts{
    <script src="~/plugins/jquery.dataTables/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/jquery.validate.min.js"></script>
    <script src="~/plugins/jqueryValidate-1.19/additional-methods.min.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/base64/base64.js"></script>
    <script src="~/plugins/JSON-js/json2.js"></script>
    <script src="~/plugins/jquery-json/jquery.json.min.js"></script>
    <script src="~/js/pages/utils/accounts.utils.js" asp-append-version="true"></script>
    <script src="~/js/pages/params.period.js" asp-append-version="true"></script>
}